pkgbase = ums-beta
	pkgdesc = Universal Media Server: a DLNA-compliant UPnP Media Server. Build based on Java 8.
	pkgver = 7.0.0-rc2
	pkgrel = 1
	url = http://www.universalmediaserver.com/
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = unzip
	depends = mplayer
	depends = ffmpeg
	depends = mencoder
	depends = libmediainfo
	depends = java-runtime=8
	depends = tsmuxer-ng-cli-bin
	optdepends = vlc: Internet video/audio support
	optdepends = dcraw: thumbnails creation support
	optdepends = lib32-gcc-libs: tsMuxeR support
	optdepends = lib32-glibc: tsMuxeR support
	backup = opt/ums-beta/UMS.conf
	backup = opt/ums-beta/WEB.conf
	source = https://www.fosshub.com/Universal-Media-Server.html/UMS-7.0.0-rc2.tgz
	source = ums.desktop
	source = ums.service
	source = ums.timer
	sha256sums = 8435a4e64573cab7145488456876ad701d6585a1aaa2b2428a0d6e3c98247d53
	sha256sums = ba81592f9c295e5643b15a34134c738df37d9ac2349697ed9bc96065d595cbb3
	sha256sums = cd61840b5abc62dd88e0f9b4ebe87559a96483deb4baf86f9d4b3144c54b6da3
	sha256sums = 54ffff80c88f05ea23d0f063f273bc28d3028289735d7408fc264931856218f4

pkgname = ums
