[Unit]
Description=Universal Media Server (Beta)
Wants=network.target
After=syslog.target network-online.target rpcbind.service

[Service]
#Environment="UMS_MAX_MEMORY=1280M"
User=%i
Group=users
WorkingDirectory=/opt/ums-beta
Type=simple
ExecStart=/opt/ums-beta/UMS.sh

[Install]
WantedBy=multi-user.target
